/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --clr-blue-primary: #1b1ef7;
  --clr-blue-primary-hover: hsl(239, 93%, 34%);
  --clr-blue-primary-active: hsl(239, 93%, 14%);
  --clr-background-primary: #fafafa;
  --clr-black-primary: #1a1a1a;
  --clr-white-primary: #ffffff;

  /* Font-family */
  --ff-heading-plex-serif: "IBM Plex Serif", serif;
  --ff-body-inter: "Inter", sans-serif;

  /* Font-size */
  --fz-h1-mobile: 2rem;
  --fz-h1-desktop: 2.5rem;

  --fz-h2-mobile: 1.3rem;
  --fz-h2-desktop: 1.5rem;

  --fz-h3-mobile: 1rem;
  --fz-h3-desktop: 1rem;
  /* subheader */

  --fz-subtitle-l-mobile: 1rem;
  --fz-subtitle-l-desktop: 1.25rem;

  --fz-subtitle-s-mobile: 1rem;
  --fz-subtitle-s-desktop: 1rem;

  /* body */
  --fz-body-small: 0.875rem;
  --fz-body-reg: 1rem;

  /* Gutters */
  --gutter-sides: 1rem;

  /* transitions */
  --transition-03s: all ease 0.3s;
}

html {
  font-family: var(--ff-body-inter);
}

/* general styling */
a {
  text-decoration: none;
}

/* typography */

h1 {
  font-size: var(--fz-h1-mobile);
}

h2 {
  font-size: var(--fz-h2-mobile);
}

h3 {
  font-size: var(--fz-h3-mobile);
}

.subheading {
  color: var(--clr-blue-primary);
}

h1,
h2,
h3 {
  font-family: var(--ff-heading-plex-serif);

}

p {
  line-height: 1.63;
}

/* buttons */
.btn {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: 1.25rem 1.5rem;
  border-radius: 6.5rem;
  font-size: var(--fz-body-small);
  font-weight: 700;
  font-family: var(--ff-body-inter);
  transition: var(--transition-03s);
  line-break: anywhere;
}

.btn.primary {
  background: var(--clr-blue-primary);
  color: var(--clr-white-primary);
}

.btn.primary path {
  fill: var(--clr-white-primary);
}

.btn.primary:hover {
  background: var(--clr-blue-primary-hover);
}

.btn.primary:active {
  background: var(--clr-blue-primary-active);
}

.btn.secondary {
  border: 2px solid var(--clr-blue-primary);
  color: var(--clr-blue-primary);
}

.btn.secondary:hover {
  background: var(--clr-blue-primary);
  color: var(--clr-white-primary);
}

.btn.secondary:active {
  background: var(--clr-blue-primary-hover);
  color: var(--clr-white-primary);
}

.btn.secondary path {
  fill: var(--clr-blue-primary);
}

/* Hyperlinks */
p a {
  color: var(--clr-blue-primary);
  border-bottom: var(--clr-blue-primary) 1px solid;
  transition: var(--transition-03s);
}

p a:hover {
  color: var(--clr-blue-primary-hover);
  border-bottom: var(--clr-blue-primary-hover) 1px solid;
}

/* body */
body {
  padding: 0 var(--gutter-sides);
  background: linear-gradient(
      299.02deg,
      rgba(27, 30, 247, 0.08) 17.84%,
      rgba(27, 30, 247, 0) 70.98%
    ),
    var(--clr-background-primary);
}
/* header */
header {
  height: 112px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header svg {
  /* fix this color */
  background: hsla(239, 93%, 54%, 0.102);
  border-radius: 6.5rem;
}

header svg {
}

header img,
header svg {
  height: 56px;
  width: auto;
}

header img {
  border-radius: 1rem;
}

/* navigation */
.navigation-desk {
display: none;
  }

/* main */
main {
  display: grid;
  gap: 2.5rem;
  padding-bottom: 2.5rem;
}

/* hero section */

.hero {
  display: grid;
  gap: 1.5rem;
}

.hero .hero__img {
  width: min(100%, auto);
  height: auto;
}

.hero .hero__img-caption {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1rem;
}

.hero .hero__text {
  margin-bottom: 1.5rem;
}

.hero .hero__link-container {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

/* Socials container */
.socials-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.socials-container .socials-container__item {
  display: grid;
  place-items: center;
  border: 2px var(--clr-blue-primary) solid;
  padding: 0.8rem;
  border-radius: 7rem;
  aspect-ratio: 1/1;
  height: fit-content;
  transition: var(--transition-03s);
}

.socials-container .socials-container__item path {
  fill: var(--clr-blue-primary);
}

.socials-container__item:hover {
  fill: var(--clr-white-primary);
  background: var(--clr-blue-primary);
}

.socials-container__item:active {
  background: var(--clr-blue-primary-hover);
  border: var(--clr-blue-primary-hover) 2px solid;
}

.socials-container__item:hover path,
.socials-container__item:active path {
  fill: var(--clr-white-primary);
}

/* intro section */
/* empty */

/* paper section */
.paper {
  border-radius: 1.5rem;
  padding: 1.5rem;
  background: #fff;
}

.paper p + p {
  margin-top: 20px;
}

/* dicovery section */

.discovery {
  display: grid;
  gap: 1.25rem;
}

.discovery .discovery__link {
  position: relative;
  padding: 6.62rem 2.5rem;
  background: #000;
  border-radius: 40px;
  color: var(--clr-white-primary);
  border-radius: 40px;
  width: 100%;
  font-family: var(--ff-heading-plex-serif);
}

.discovery .discovery__link--gr-blue {
  background: linear-gradient(
      290.91deg,
      rgba(0, 0, 0, 0.3) 8.1%,
      rgba(0, 0, 0, 0) 74.74%
    ),
    var(--clr-blue-primary);
}

.discovery .discovery__link--black {
  background: linear-gradient(
      290.91deg,
      rgba(0, 0, 0, 0.6) 8.1%,
      rgba(255, 255, 255, 0) 74.74%
    )
    var(--clr-black-primary);
}

.discovery .discovery__title {
  font-weight: 700;
  font-size: var(--fz-h1-mobile);
  display: flex;
  flex-direction: column;
}

.discovery .discovery__img {
  display: grid;
  place-items: center;
  border: 2px var(--clr-white-primary) solid;
  padding: 0.8rem;
  border-radius: 7rem;
  aspect-ratio: 1/1;
  transition: var(--transition-03s);
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  overflow: hidden;
  height: 3rem;
}

.discovery path {
  fill: var(--clr-white-primary);
}

/* discovery small */
.discovery.small .discovery__title{
	font-size: var(--fz-h1-desktop);
}

.discovery.small .discovery__link {
padding: 2.5rem 4rem 2.5rem 1.5rem;
}

/* end index/home */

/* publications page*/

/* publications-intro section */

.publications-intro {
display: grid;
gap: 2rem;
}

.publications-intro__text-container {
	display: flex;
   flex-direction: column;
   justify-content: flex-end;
	gap: 1rem;
}



/* publications overview section*/

.publications-overview {
	display: grid;
	gap: 2rem;
}


.publication-article {
	display:grid;
	gap:1.5rem;
	border-radius: 2rem;
  	padding: 1.5rem;
  	background: #fff;
	word-break: strict;
}

.publication-article  .publication-article__proc {
	order: -1;
}


.publication-article	.publication-article__text-container {
	display: grid;
	gap: 0.5rem;
}


.publication-article .publication-article__link-list{
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	list-style-type: none;
}


.publication-article .publication-article__list-link {
	color: var(--clr-blue-primary);
  	border-bottom: var(--clr-blue-primary) 1px solid;
}

.publication-article .publication-article__list-link:hover {
	color: var(--clr-blue-primary-hover);
  	border-bottom: var(--clr-blue-primary-hover) 1px solid;
}
.publication-article {}

					/* <ul class="publication-article__link-list">
						<li class="publication-article__list-item">Media coverage:</li>
						<li class="publication-article__list-item"><a href="" class="publication-article__list-link"></a>Gizmodo, </li> */

/* footer */
footer {
  display: grid;
  gap: 1.5rem;
  align-items: center;
  padding: 2.5rem;
}

footer a {
  color: var(--clr-black-primary);
  border-color: var(--clr-black-primary);
}

/* components */
.btn-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 1rem;
}



/*  media qeuries */

/* @mixin for-tablet-p-up  */
@media (min-width: 600px) {


  /* hero section */
  .hero .hero__link-container {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .btn-container {
	flex-direction: row;

}

  /* buttons */
  .btn {
    width: fit-content;
  }

  /* discovery small */
  .discovery.small .discovery__link {
	width: fit-content;
	min-width: 350px;
  }
}

/* @mixin for-tablet-l-up */
@media (min-width: 900px) {
  /* general */
  body {
    display: grid;
    grid-template-columns: 1fr min(100%, 1130px) 1fr;
  }

  body > * {
    grid-column: 2/2;
  }

  /* navigation desktop*/
  header {
    display: grid;
    place-items: center;
    justify-content: center;
	 position: relative;
  }

  .img-placeholder {
	position: absolute;
	left: 0;
  }

  .navigation-mobile__burger-menu {
	display: none;
  }



.navigation-desk {
display: block;
  }

  .navigation-desk .navigation-desk__list {
    display: flex;
    gap: 1.5rem;
  }

  .navigation-desk .navigation-desk__item {
    list-style-type: none;
  }

  .navigation-desk .navigation-desk__item-link {
    padding: 0.5rem 1rem;
    border-radius: 7rem;
    color: #000;
    font-weight: 700;
    font-size: var(--fz-body-small);
	 transition: var(--transition-03s);
  }

  .navigation-desk .navigation-desk__item-link.active {
    background: rgba(27, 30, 247, 0.1);
  }

  .navigation-desk .navigation-desk__item-link:hover {
	background: rgba(27, 30, 247, 0.1);
  }

  /* hero section */
  .hero {
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 3.5rem;
  }

  /* intro section */
  section.intro {
    padding: 5rem 7.18rem 5.62rem 7.18rem;
  }

  /* discorvery section */
  .discovery {
    grid-template: 1fr / 1fr 1fr;
  }

  /* publications-intro section */
  .publications-intro {
    grid-template-columns: auto 1fr;





  footer {
    grid-template-columns: 1fr auto;
  }
}

/*
Based on "The 100% correct way to do CSS breakpoints"
https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
*/

/* @mixin for-phone-only  */
/* @media (max-width: math.div(599px, 16px) * 1em) {
  @content;
} */

/* @mixin for-tablet-p-up  */
/* @media (min-width: math.div(600px, 16px) * 1em) {
  @content;
}

/* @mixin for-tablet-p-only  */
/* @media (min-width: 900px) {
  @content;
} */

/* @mixin until-tablet-l  */
/* @media (max-width: math.div(899px, 16px) * 1em) {
  @content;
} */

/* @mixin for-tablet-l-up  */
/* @media (min-width: math.div(900px, 16px) * 1em) {
  @content;
} */

/* @mixin for-tablet-l-only  */
/* @media (max-width: math.div(1199px, 16px) * 1em) and (min-width: math.div(900px, 16px) * 1em) {
  @content;
} */

/* @mixin for-desktop-up  */
/* @media (min-width: math.div(1200px, 16px) * 1em) {
  @content;
} */

/* @mixin for-desktop-only  */
/* @media (max-width: math.div(1799px, 16px) * 1em) and (min-width: math.div(1200px, 16px) * 1em) {
  @content;
} */

/* @mixin for-big-desktop-up  */
/* @media (min-width: math.div(1800px, 16px) * 1em) {
  @content;
} */
